* {
	vertical-align: baseline;
	font-weight: inherit;
	font-family: inherit;
	font-style: inherit;
	font-size: 100%;
	border: 0 none;
	outline: 0;
	padding: 0;
	margin: 0;
    }
    #wrapper{
        width: 970px;
        height: 800px;
        /* background: linear-gradient(gray,gray 5%,white); */
    }
    .globe {
        width: 80px;
        height: 80px;
        display: inline-block;
        position: relative;
        top: 28px;
    }
    .header-span {
        color: lightblue;
    }
    h1{
        display: inline-block;
        font-size: 60px;
    }
    h2 {
        font-size: 44px;
    }
    #www {
        display: block;
        background: linear-gradient(rgb(36, 100, 197),#6086cc,rgb(64, 115, 192));
        text-indent: 25px;
        color: white;
        padding: 6px;
    }
    #subcontents {
        width: 220px;
        display: inline-block;
        vertical-align: top;
        position: relative;
        bottom: 285px
      
    }
    #topLeftSidebar {
        display: inline-block;
        width: 200px;
        vertical-align: top;
        border-bottom: gray solid 2px;
        margin-top: 17px;
        margin-left: 18px;
    }
    #topLeftSidebar p {
        font-weight: bold;
    }
    #border {
        display: block;
       
        border-bottom: gray 2px solid;
    }
    #dns {
        display: inline-block;
        height: 47px;
        border-bottom: black 2px solid;
        margin-left: 260px;
        position: relative;
        bottom: 90px;
    }
    #mainContent {
        display: block;
        height: 123px;
       background: linear-gradient(rgb(214, 212, 212),white);

    }
    #body {
        display: block;
        position: relative;
        bottom: 90px;
        width: 500px;
    }
    #body img {
        width: 280px;
        margin-left: 188px;
    }
    #big3 {
        display: block;
        width: 696px;
        border-top: rgb(77, 66, 230) 4px solid;
        border-left: rgb(77, 66, 230) 4px solid;
        border-right: rgb(77, 66, 230) 4px solid;
        height: 126px;
        position: relative;
        margin-left: 43px;
    }
    #big3 p {
        position: relative;
        bottom: 112px;
        left: 117px;
        width: 514px;
        margin-bottom: 5px;
    }
    #body p {
        margin-bottom: 9px;
    }
.blue {
    color:aqua;
}
.red {
    color: red;
}
.button1 {
    background: linear-gradient(#a5b8ef,rgb(64, 115, 192));
    width: 180px;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin: 10px;
    color: white;
}
.button2 {
    background: linear-gradient(rgb(241, 199, 119),orange);
    width: 180px;
    height: 40px;
    border-radius: 5px;
    display: block;
    margin: 10px;
    color: white;
}
#bottomLeftSidebar {
    border-top: 3px gray;
    display: block;
    width: 200px;
    height: 200px;
    position: relative;
    margin-left: 10px;
    margin-top: 10px;
}
#ad {
    width: 220px;
    
}
#ninja {
    width: 90px;
    position: absolute;
    top:124px;
    left:53px;
}
.button3 {
    background: linear-gradient(rgb(101, 200, 247),rgb(44,180,243));
    display: block;
    height: 40px;
    width: 165px;
    position: absolute;
    top: 261px;
    left: 26px;
    text-align: center;
    border-radius: 4px;
    color: white;
    padding: 8px;
}
h3 {
    color: white;
    position: absolute;
    top: 10px;
    left: 20px;
    font-size: 25px;
    text-align: center;
    margin-top: 10px;
}
h4 {
    font-size: 20px;
    margin-bottom: 10px;
    font-weight: bold;
    margin-top: 5px;
    color: blue;
}
#dns h4 {
    color:aqua;
    position: relative;
    bottom: 125px;
    left: 570px;
    font-size: 23px;
}
#subcontents h4 {
    color: black;
}

#big3 h4 {
    font-weight: bold;
    position: relative;
    bottom: 111px;
    left: 149px;
}

h5 {
    text-decoration: none;
    position: relative;
    bottom: 43px;
    display: inline-block;
    right: 9px;
  
}
h6 {
    margin-left:570px;
    position: relative;
    bottom: 68px;
    font-size: 10px;
}
#home{
    height: 20px;
    margin: 10px;
    display: inline-block;
    position: relative;
    bottom: 30px;
}
a {
    text-decoration: none;
    color: #3f67ca;
}

#phone {
    height: 50px;
    position: relative;
    bottom:79px;
    left: 510px;
}
#inter {
    position: relative;
    bottom: 138px;
    left: 4px;

}
.bold {
    font-weight: bold;
    color: black;
}
#big3img {
    width: 125px;
    position: relative;
    right: 175px;
    top: 10px;
    margin-left: 185px;
}

.list {
    margin: 10px 0px;
}
.list2 {
    margin: 9px 0px;
    margin-left: 33px;
}
#bigBody {
    display: inline-block;
    width: 741px;
    position: relative;
    bottom: 209px;
}
.topic {
    color: blue;
    text-indent: 33px;

}
ul {
    margin-left: 61px;
}
#bigBody p {
    margin-left: 33px;
}
#server {
    width: 260px;
    margin-left: 250px;
}
ol {
    margin-left: 30px;
}